{{ partial "header.html" . }}
<!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{{ "/js/highlight.pack.js" | relURL }}"></script>
<script src="{{ "/js/addon.js" | relURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" type="text/css" href="{{ "/css/highlight.css" | relURL }}"/>
<!-- Twitter Card
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="twitter:card" content="{{ .Params.twittercard }}">
<meta name="twitter:site" content="@{{ .Site.Params.twitterShortname }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Params.twitterdescription }}">
<meta name="twitter:image" content="{{ .Params.twitterimage }}">
</head>
<body>
  <div class="container main">
    <div class="row">
      <div class="column">
        <h2 class="title">{{ .Title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <hr>
        <article>
          <p>{{ .Date.Format "Jan 02, 2006" }}</p>
          <br><br>
          {{ .Content }}
        </article>
      </div>
    </div>
    {{ partial "disqus.html" . }}
  </div>
  <br>
  {{ partial "footer.html" . }}
