<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
  <head>
    <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8">
    <title>
      {{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} | {{ .Site.Title }}{{ end }}
    </title>
    <!-- Mobile Specific Metas
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="theme-color" content="{{ .Site.Params.themeColor }}">
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1,initial-scale=1">
    <!-- HTTPS Canonical URL
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="canonical" href="{{ .Permalink }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico?v=0.1"/>
    <!-- CSS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="/css/addon.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.0/milligram.min.css">
    <!-- RSS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .Site.BaseURL }}index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    <!-- Twitter Card
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="twitter:card" content="{{ .Params.twittercard }}">
    <meta name="twitter:site" content="@{{ .Site.Params.twitterShortname }}">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Params.twitterdescription }}">
    <meta name="twitter:image" content="{{ .Params.twitterimage }}">
